<footer class="article-footer">
    {{ partial "article/components/tags" . }}

    {{ if and (.Site.Params.article.license.enabled) (not (eq .Params.license false)) }}
    <section class="article-copyright">
        {{ partial "helper/icon" "copyright" }}
        <span>{{ default .Site.Params.article.license.default .Params.license | markdownify }}</span>
    </section>
    {{ end }}

    {{- if ne .Lastmod .Date -}}
    <section class="article-lastmod">
        {{ partial "helper/icon" "clock" }}
        <span>
            {{ T "article.lastUpdatedOn" }} {{ .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdated "Jan 02, 2006 15:04 MST" ) }}
        </span>
    </section>
    {{- end -}}
	
	<section>
		<!-- view of post -->
		{{ partial "helper/icon" "eye" }}
		<span>
			<img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fariztynfansub.github.io{{ .RelPermalink }}&count_bg=%2313C4A5&title_bg=%23424242&icon=&icon_color=%23E7E7E7&title=L%C6%B0%E1%BB%A3t+xem+%28ng%C3%A0y%2Ft%E1%BB%95ng+c%E1%BB%99ng%29&edge_flat=false" alt="lượt xem (ngày/tổng cộng) của bài viết"/>
		<span>
	</section>
</footer>
