<!--
Parameters:
    type - (Required) album / track / playlist / artist
    id - (Required) Target ID
    width - (Optional) width
    height - (Optional) height
	theme - utm_source=generator&theme=0 => black background
	theme - Bỏ trống background sẽ theo màu cover album
-->

{{ if .IsNamedParams }}
<iframe style="border-radius:10px" src="https://open.spotify.com/embed/{{ .Get "type" }}/{{ .Get "id" }}{{ .Get "theme"}}"
    width="{{ default "100%" (.Get "width") }}"
    height="{{ default "380" (.Get "height") }}"
    frameborder="0"
    allowtransparency="true"
    allow="encrypted-media"></iframe>
{{ else }}
<iframe style="border-radius:10px" src="https://open.spotify.com/embed/{{ .Get 0 }}/{{ .Get 1 }}{{ .Get 2}}"
    width="{{ default "100%" (.Get 2) }}"
    height="{{ default "380" (.Get 3) }}"
    frameborder="0"
    allowtransparency="true"
    allow="encrypted-media"></iframe>
{{ end }}